<section class="image-gallery">
  <div class="container">
    <h1 class="titel">free image stock</h1>
    <!-- <a href="">link to page with infinite scroll down</a> -->

    <div class="box-input">
      <form class="search-form" id="search-form">
        <input
          type="text"
          name="query"
          autocomplete="off"
          placeholder="Search images..."
          class="search-input"
        />
        <button type="submit" class="search-button"></button>
      </form>
    </div>

    <ul class="gallery">
      <!-- Список <li> с карточками изображений -->
    </ul>

    <button type="submit" class="load-more hidden">Load more</button>
    <button type="button" class="up hidden"></button>
  </div>
</section>
